# Copy this file to .env and set real values locally.
# Do not commit your real .env.

# Databases
MYSQL_PASSWORD=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=auth_resto_db
POSTGRES_USER=postgres

# Vault
VAULT_ROOT_TOKEN=change-me

# Grafana admin
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

